body{
    margin: 0;
    
}

header .line{
    background-color: #7D6B7D;
    height: 100px;
}
.line a img{
    width: 100px;
    margin-left: 150px;
}
.titulo{
    display: flex;
    justify-content: center;
    
}
.titulo h1{
    color: #7D6B7D; 
}
.login{
    display: flex;
    justify-content: center;
}
.login input{
    margin-top: 15px;
    padding: 7px;
    outline:none
}
.login button{
    margin-top: 15px;
    margin-left: 40px;
    padding: 7px;
    width: 100px;
    background-color: #7D6B7D;
    border: 0;
    color: white;
}
.login button:hover{
    background-color: #A3A1A8;
}
.login .l3{
    background-image: url(../images/olho10.png);
    width: 28px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;
    margin:0;
    margin-right: 6px;
    position: absolute;
    cursor: pointer;
    top: 252px;
    right: 683px;
    
}

.cadastrolink{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.cadastrolink a{
    text-decoration: none;
    color: black;
}
.cadastrolink a:hover{
    color: #A3A1A8;
    text-decoration: underline;
}
.cadastro{
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "item1 item1 item2"
        "item3 item3 item3"
        "item4 item4 item4"
        "item7 item7 item7"
    ;
    
}
.cadastro input{
    margin: 7px;
    padding: 7px;
    outline: none;
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.cadastro .olho{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.item5{
    position: absolute;
    top: 225px;
    right: 580px;
}
.item6{
    position: absolute;
    top: 272px;
    right: 580px;
}
.cadastro .criar{
    padding: 7px;
    margin-top: 7px;
    width: 100px;
    margin-left: 150px;
    background-color:#7D6B7D;
    color: white;
    border: none;
}
.cadastro .criar:hover{
    background-color: #A3A1A8;
}
